[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
pandas = "*"
sklearn = "*"
pyqt5 = "*"
kivy = "*"
kivy-garden = "*"
docutils = "*"
pygments = "*"
pypiwin32 = "*"
"kivy-deps.sdl2" = "*"
"kivy-deps.glew" = "*"

[requires]
python_version = "3.7"
